.full_body {
  width: 100vw;
  min-height: 1000px;
  padding:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Nav Top */

.dark_black {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.nav_top {
  width: 90vw;
  cursor: pointer;
  color: white;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
/*   background:red; */
}

.logo_div {
  display: flex;
  gap: 0.5em;
}

.logo_1 {
  width: 50px;
}

.logo {
  width: 300px;
}

.nav_top_1 {
  padding-right: 0.5em;
  display: flex;
  gap: 1em;
}

.nav_top_1_p {
  font-size: 1em;
  font-weight: bold;
}

.nav_top_1_p:hover {
  color: #4C6793;
}

.cart {
  padding: 0px 0.5em 0px 0.5em;
  border-left : 1px solid black;
   border-right : 1px solid black;
}

@media only screen and (max-width: 550px) {
  
  .logo_1 {
  width: 30px;
}
  
  .logo {
    width: 120px;
  }
 
  .nav_top_1_p {
    font-size: 0.8em;
  }
  
}

/* Nav Top */

/* Nav Bottom */

.dark_blue {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4C6793;
}

.nav_bottom , .nav_bottom_1 , .nav_bottom_2 {
  display: flex;
}

.nav_bottom {
  width: 90vw;
  gap: 1em;
  justify-content: center;
}

.nav_bottom_1 {
/*   background: red; */
  padding-left: 0.5em;
}

.nav_bottom_2 {
/*   background: blue; */
}

.nav_bottom_1 , .nav_bottom_2 {
gap: 1em;
}

.nav_bottom_p {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  position: relative;
  cursor: pointer;
}

.nav_bottom_p::before {
  content: '';
  position: absolute;
  height: 5px;
  width:0%;
  display: block;
  top: -10px;
  transition: all ease-in-out 250ms;
  background: white;
}

.nav_bottom_p:hover::before {
  width: 100%;
}


@media only screen and (min-width: 600px) {
  
  .nav_bottom_p {
    font-size: 1em;
  }
  
  .nav_bottom {
    justify-content: space-between;
    padding: 1em;
  }
  
}

/* Nav  Bottom */

.exploreDiscover {
  color: white;
  font-weight: bold;
  text-align: center;
}


/* Search */

.peacock {
  width: 100vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://cdn.pixabay.com/photo/2019/09/26/05/39/peacock-feather-4505147_1280.jpg');
  background-size: cover;
}

.search {
  width: 500px;
  height: 30px;
  padding: 0.5em;
  background: whitesmoke;
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
}

.search_bar {
  width: 100%;
  border:0px;
  background: whitesmoke;
   border-radius: 10px;
}

.search_bar:focus {
  outline:none;
}

.search_icon {
  width: 20px;
}

@media only screen and (max-width: 500px) {
  .search {
    width: 200px;
  }
}

/* Search */

/* <!--   Button to Change --> */
.buttonChange {
  width: 100vw;
  min-height: 40px;

}

.childbc_1 {
display: flex;
  gap: 0.2em;
  justify-content: center;
  align-items: center;
}

.child_1_button {
  padding:0px;
  border: 0px;
  cursor: pointer;
  background:none;
}

.plus {
  color: white;
}

.options {
  color: white;
}

#childbc_2 {
  padding: 0px 0.5em 0px 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.child_2_buttonChange {
  color: white;
}

.child_2_buttonChange:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.plus {
  width: 20px;
  height: 20px;
}


/* <!--   Button to Change --> */

/* Card Top */
.card_both {
  max-width: 650px;
}

.spotlight {
  padding: 1em;
}

.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  gap: 1em;
}

.cardb_p {
  margin:0px;
}

.descp {
  font-size: 0.7em;
   line-height: 1.6;
}

.card_info {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: flex-start;
  
}

.card_img {
  max-width: 250px;
  height:180px;
}

.card_button {
  width: 100px;
  background: none;
  margin-right: auto;
  margin-left: auto;
}

.card_button:hover {
  background: black;
  color: white;
  font-weight: bold;
}

@media only screen and (min-width: 420px) {
  .card {
    max-width: 650px;
    flex-direction: row;
  }
  
  .card_button {
    margin-left:0px;
  }
}
/* Card Top */

/* Button Top */

.button_top {
  max-width: 450px;
  height: 50px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-top: 2em;
  border: 0px;
  background: #FF9551;
}

@media only screen and (max-width: 600px) {
 .button_top {
    font-size: 1em;
  }
}

/* Button Top */

/* Carousel Top */

.carouseltop {
  max-width: 750px;
  min-height: 250px;
  margin-top: 2em;
}

.carouselt_1 {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.carouselt_border {
  border: 0px solid whitesmoke;
   transition: all ease-in-out 250ms;
}

.carouselt_border:hover {
  border: 5px solid whitesmoke;
}

.carouselt_1_img {
  width: 150px;
  height: 150px;
}

.carouselt_p {
  font-weight: bold;
  font-size: 1.2em;
}


@media only screen and (max-width: 650px) {
  
  .carouselt_p {
    text-align: center;
  }
  
  .carouselt_1 {
    justify-content: center;
  }
}

/* Carousel Top */

/* Science Section */

.science_section {
  width: 100vw;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 1em 0px 1em;
  margin-top: 3em;
  background: #8FBDD3;
}

.science_section_p {
  font-size: 2em;
   padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {
  .science_section_p {
    font-size: 1em;
  }
}

/* Science Section */


/* Button Bottom */

.button_top {
  max-width: 450px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-top: 2em;
  border: 0px;
  background: #FF9551;
}

@media only screen and (max-width: 600px) {
 .button_top {
    font-size: 1em;
  }
}

/* Button Bottom */

/* Carousel Bottom */

/* Carousel Bottom */

.carouselbottom {
  max-width: 900px;
  min-height: 250px;
  margin-top: 2em;
}

.carouselb_2_img {
  width: 250px;
}

@media only screen and (min-width: 720px) {
  .carouselb_2_img {
    width: 220px;
  }
}
/* Donate Button */

.donate {
  width: 100vw;
  min-height: 100px;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: column;
}

.donate_p {
  font-size: 2em;
  text-align: center;
  margin: 0px;
}

.donate_button {
  width: 80px;
  background: none;
}

.donate_button:hover {
  background: black;
  color: white;
  font-weight: bold;
}



/* Donate Button */

/* Contact Way */

.whitesmoke_color {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.parent {
  width: 80vw;
  min-height: 350px;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.child_2 , .child_3 , .child_5 { 
  text-align: center;
  cursor: pointer;
}

.child_1 {
  display: flex;
  justify-content: space-between;
}

.child_3 {
  display: flex;
  flex-direction: column;

}

.child_4 {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  cursor: pointer;
}


.icon {
  width: 20px;
  height: 20px;
}

/* .child_2_p:hover , .child_3_p:hover, .child_5_p:hover {
  border-bottom: 1px solid black;
} */

.child_2_span:hover {
  font-size: 1em;
  border-bottom: 1px solid black;
}



@media only screen and (max-width: 600px) { 
  
  .parent {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .child_1  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    order: 1;
  }
  
  .child_5 {
    order: 2;
  }
  
  .child_3 {
    order: 3;
  }
  
 
  
}

/* Contact Way */

